@import "tailwindcss";
@import "./font/fonts.css";

@theme {
  --font-primary: "Inter", sans-serif;
  --color-blue:oklch(0.53 0.1482 251.08);
  --color-mint:oklch(0.88 0.1793 166.86);
  --color-danger: oklch(55% 0.25 30);
  --color-success: oklch(65% 0.18 130);
  --color-background: oklch(98% 0.01 250);
  --color-text: oklch(20% 0 0);
}

html,body{
  background-color: var(--color-background);
  color: var(--color-text);
}


  .btn {
    @apply font-thin text-[50px];
  } 
  .btn3{
    @apply font-black text-[50px];
  }
 
  .label{
    @apply font-primary font-thin  text-[16px];
}

/* @keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-loading-bar {
  animation: loading-bar 1.5s infinite linear;
} */
